.header-amd {
    grid-area: cabeza;
    h1 span {
        position:absolute;
        right:0;
        width:0;
        background: tomato;
        border-left: 1px solid #000;
        animation: escribir 5s steps(30) infinite alternate;
        @keyframes escribir {
            from { width: 100% }
            to { width:0 }
        }
    }
}

/*section*/
.section-amd {
    padding-top: 10px;
    grid-area: section;
}

.imgb-intel {
    padding-top: 100px;
}

/*aside*/
.aside-amd {
    grid-area: aside;
    padding-top: 10px;
}

.aside-amdB {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: asideB;
}


/*footer*/

.footer-amd {
    grid-area: footer;
    width: 100%; 
    height: 170px; 
    border: 3px solid rgb(255, 64, 6);
    background-color: rgb(255, 64, 6);
       a {
           text-decoration: none;
           color: wheat;
       }
       .imagenes-footer {
           width: 131px;
           display: block;
           color: wheat;
           text-decoration: none;
           padding: 4px;
       }
}

.padre-amd {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto auto auto 100px;
    grid-template-areas: 
    "cabeza cabeza"
    "section aside"
    "section asideB"
    "footer footer";
}

@media screen and (max-width: 490px) {
    .padre-amd {
        display: block;
    }
}   

@media screen and (max-width: 490px) {
    .aside-amd {
        display: none;
    }
}   

@media screen and (max-width: 490px) {
    .aside-amdB {
        display: none;
    }
}   