.header-intel {
    grid-area: cabeza;
    h1 span {
        position:absolute;
        right:0;
        width:0;
        background: tomato;
        border-left: 1px solid #000;
        animation: escribir 5s steps(30) infinite alternate;
        @keyframes escribir {
            from { width: 100% }
            to { width:0 }
        }
    }
}

/*section*/

.padre-intel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "cabeza cabeza"
    "section section"
    "sectionB sectionB"
    "sectionC sectionC"
    "footer footer" ;
}

.section-intel {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    grid-area: section;
}


.section-intelB {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    grid-area: sectionB;
}


/*aside*/
.aside-intel {
    grid-area: aside;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.aside-intelB {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-area: asideB;
}


/*footer*/

.footer-intel {
    grid-area: footer;
    width: 100%; 
    height: 170px; 
    border: 3px solid rgb(255, 64, 6);
    background-color: rgb(255, 64, 6);
       a {
           text-decoration: none;
           color: wheat;
       }
       .imagenes-footer {
           width: 131px;
           display: block;
           color: wheat;
           text-decoration: none;
           padding: 4px;
       }
}





@media screen and (max-width: 490px) {
    .padre-intel {
        display: block;
    }
}   

@media screen and (max-width: 490px) {
    .aside-intel {
        display: none;
    }
}   

@media screen and (max-width: 490px) {
    .aside-intelB {
        display: none;
    }
}   

.disclaimer {
    display: none;
}